{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section id="contact">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>Reset Password<span>.</span></h1>

            <hr />

            

        </div>

    </div>

    <div class="row form-section">

        <div id="contact-form" class="twelve columns">

            <form id="contactForm" method="post">
                {% csrf_token %}
                <fieldset>

                    <div class="row">

                        <div class="twelve columns mob-whole">
                            {{ form|crispy }}
                        </div>

                    </div>

                    <div>
                        <button class="submit full-width" type="submit">reset Password</button>
                        <div id="image-loader">
                            <img src="images/loader.gif" alt="" />
                        </div>
                    </div>

                    <div>
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                        </small>
                    </div>

                </fieldset>

            </form> <!-- /contactForm -->

            <!-- message box -->
            <div id="message-warning"></div>
            <div id="message-success">
                <i class="fa fa-check"></i>Your account was created!<br />
            </div>

        </div> <!-- /contact-form -->

    </div> <!-- /form-section -->

</section> <!-- /contact-->

{% endblock content %}